*{
    margin: 0px;
    padding: 0px;
}

#parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 2px solid darkblue; */
}

p{
    visibility: hidden;
}

