*{
    margin: 0px;
    padding: 0px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: antiquewhite;
}

#btns{
    display: flex;
    gap: 20px;
    width: fit-content;
    height: fit-content;
}

main{
    height: 92vh;
    border: 1px solid black;
}

#ip{
    border-radius: 12px;
    border: none;
    padding: 15px;
}

.btn{
     cursor: pointer;
}
