*{
    padding: 0px;
    margin: 0px;
}

#grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 124px);    
    gap: 10px;
}

#item1{
grid-column:span 4;
}

#item2{
grid-row:span 4;
}

#item4{
grid-column:span 2;
}

#item5{
grid-column:span 2;
}

#item10{
grid-column:span 3;
}

div{
    background-color: green;
    color: white;
    font-size: xx-large;
}