#div1{
    display: flex;
    flex-direction: column;
    width: 100vw ;
    height: 10vw;
    align-items: center;
    gap: 10px;

}

#div2{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    overflow: scroll;
}

.child{
    border: 2px solid black;
    height: 500px;
    width: 400px;
    border-radius: 10px;
}

.my-card{
    border: 2px solid blue;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
